@charset "UTF-8";

 *{
        margin: 0px;
        padding: 0px;
    }
#container{
    border-style: solid;
    width: 200px;
    height: 200px;
    border-color: black;
    border-radius: 20px;
   position: ;
    
}