@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-image: linear-gradient(to right,#C336F7, #F73670, #F736E4, #8436F7, #F74736);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.455);
}

h1{
    color: #8436F7;
    text-align: center;
    text-shadow: 1px 1px 2px #F74736;
}

h2 {
    color: #C336F7;
}

p{
    text-align: justify;

}